---
layout: wide
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                 <div class="post-heading">
                   <div class="header-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post-copy">
       {% if page.photo-by %}
        <span>Photo by <a href="{{page.photo-link}}" target="_blank">{{page.photo-by}}</a></span>
       {% endif %}    
    </div>
</header>
<div class="container">
   <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-heading">
                <div class="header-content">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
       </div>
    </div>
</div>
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">           
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				{{ content }}

            </div>
        </div>
    </div>
</article>

<hr>
